package pages

import "echo.go.dev/pkg/ui/layouts"

templ Home() {
	@layouts.Base(layouts.Layout{
		Title:      "Home",
		ShowHeader: true,
		BodyClass:  "",
	}) {
		<div class="p-5">
			<p class="owl-p">Home</p>
		</div>
	}
}
