package pages

import (
	"echo.go.dev/pkg/ui/components"
	"echo.go.dev/pkg/ui/layouts"
)

type LoginData struct {
	Error string
	CsrfToken  string
}

var loginLayout = layouts.Layout{
	Title:      "Login",
	ShowHeader: false,
	BodyClass:  "",
}

templ Login(d LoginData) {
	@layouts.Base(loginLayout) {
		<div class="min-h-screen flex flex-col items-center justify-center p-5">
			@components.LoginForm(d.CsrfToken, d.Error)
		</div>
	}
}
